
:root {
    /* declare global variables for reuse in the program */
    --side-bar-width: 150px;
    --top-nav-height: 56px;
    --items-per-row: 3;
}



.gallery {
    border: 3px solid green;
    margin-left: var(--side-bar-width);
    margin-top: var(--top-nav-height);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery section {
    margin: 5px;
    /** calculate the width to get 3 on a row **/
    width:  calc((100vw - var(--side-bar-width)) / var(--items-per-row))
}

.nav-container {
    border: 3px solid red;
    height: var(--top-nav-height);
    position: fixed;
    width: 100%;
    top: 0;
}

.side-container {
    border: 3px solid blue;
    position: fixed;
    height: 100%;
    width: var(--side-bar-width);
    top: var(--top-nav-height);
/**  100% of the parent element  **/
}